#include "varList.h"
template<class T>
int VarList<T>::check(T key) {
	return 0
}

void VarList<T>::addValue(T v) {

}

void VarList<T>::removeValue(T v) {

}

void VarList<T>::printList() {

}

VarList<T>::VarList<T>(const VarList<T>&) // copy constructor
{

}

VarList<T>::VarList<T>& operator=(const VarList<T>&) // overloaded assignment
{

}

VarList<T>::~VarList() // destructor
{

}
